body {
    margin: 0;
    width: 210mm;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    box-shadow: 5px 10px 10px #B6ADB0;
}

header {
    background-image: linear-gradient(to bottom right, rgb(100, 100, 100), rgb(20, 20, 20));
    /* background-color: rgb(100, 100, 100); */
    padding: 20px 20px 5px;
    color: #ede8e8;
    font-size: 14px;
}

.flex {
    display: flex;
}

.img img {
    border-radius: 50%;
    vertical-align: middle;
}

.title {
    margin-left: 20px;
    margin-right: 8px;
    text-transform: uppercase;
}

.title h3 {
    font-size: 30px;
    margin-bottom: 6px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #f89653;
}

.title h6 {
    margin-top: 4px;
    font-size: 11px;
}

.left {
    padding-top: 20px;
    border-right: 2px solid #B6ADB0;
    width: 100%;
}

.right {
    margin-left: 20px;
    width: 100%;
}

.right p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.right h4 {
    margin-top: 8px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.right .right-top {
    border-bottom: 1px solid #B6ADB0;
}

.right .right-top p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.social {
    border-top: 1px solid #B6ADB0;
    margin-top: 12px;
    padding: 15px 40px;
}

.social a {
    color: #ede8e8;
    text-decoration: none;
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline;
    margin: 6px 12px;
}

.f-style {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.data {
    padding: 20px 15px;
}

.skills div:first-child {
    background-color: #74CEF1;
}

.skills div:last-child {
    background-color: #E2D23E;
}

.part h3 {
    margin: 0 0 10px;
}

.part h3::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    /* width: 50%; */
    margin-left: 40px;
}

.experience h3::after {
    width: 330px;
}

.skills h3::after {
    width: 50%;
}

.experience {
    background-image: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(245, 245, 245));
}

.experience table{
    border-collapse: collapse;
    border: none;
}

.experience table tr td:first-child {
    width: 85px;
    padding-right: 35px;
    text-align: right;
}

.experience table tr td h4 {
    margin: 0;
    color: #04a7e7;
    line-height: 20px;
}

.experience table tr td h6 {
    margin: 0;
    margin-bottom: 4px;
}

.experience table tr td:first-child p {
    font-size: 9.5px;
}

.experience table tr td p {
    margin: 0;
    font-size: 13px;
    color: #8e8e8e;
}

.skills p {
    margin: 0;
}

.skills table {
    font-size: 12px;
    font-weight: bold;
}

.skills table tr td:first-child {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.lang {
    background-color: #efefef;
}