.container {
    margin: 0;
    width: 240mm;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 10px 10px #B6ADB0;
    height: 340mm;
    margin-bottom: 50px;
}

header {
    background-image: linear-gradient(to bottom right, rgb(100, 100, 100), rgb(20, 20, 20));
    padding: 20px 20px 5px;
    color: #ede8e8;
    font-size: 14px;
}

.flex {
    display: flex;
}

.img img {
    border-radius: 50%;
    vertical-align: middle;
}

.title {
    margin-left: 20px;
    margin-right: 8px;
    text-transform: uppercase;
}

.title h3 {
    font-size: 30px;
    margin-bottom: 6px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    color: #f89653;
}

.title h6 {
    margin-top: 4px;
    font-size: 11px;
}

.cvleft {
    padding-top: 20px;
    border-right: 2px solid #B6ADB0;
    width: 100%;
}

.cvright {
    margin-left: 20px;
    width: 100%;
}

.cvright p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cvright h4 {
    margin-top: 8px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

.cvright .cvright-top {
    border-bottom: 1px solid #B6ADB0;
}

.cvright .cvright-top p {
    margin-top: 12px;
    margin-bottom: 12px;
}

.social {
    border-top: 1px solid #B6ADB0;
    margin-top: 12px;
    padding: 15px 40px;
}

.social a {
    color: #ede8e8;
    text-decoration: none;
}

.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline;
    margin: 6px 12px;
}

.f-style {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.data {
    padding: 20px 15px;
}

.skills div.data:first-child {
    background-color: #74CEF1;
}

.skills div.data:last-child {
    background-color: #E2D23E;
}

.part h3 {
    margin: 0 0 10px;
}

.part h3::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    /* width: 50%; */
    margin-left: 40px;
}

.experience h3::after,
.hobbies h3::after {
    width: 330px;
}

.skills h3::after,
.lang h3::after {
    width: 50%;
}

.education h3::after {
    width: 630px;
}

.experience {
    background-image: linear-gradient(to bottom left, rgb(255, 255, 255), rgb(245, 245, 245));
}

.table-data table {
    border-collapse: collapse;
    border: none;
}

.table-data table tr td {
    padding-bottom: 30px;
}

.table-data table tr td:first-child {
    width: 85px;
    padding-right: 35px;
    text-align: right;
}

.table-data table tr td h4 {
    margin: 0;
    color: #0392c9;
    line-height: 20px;
}

.table-data table tr td h6 {
    margin: 0;
    margin-bottom: 4px;
}

.table-data table tr td:first-child p {
    font-size: 9.4px;
}

.table-data table tr td p {
    margin: 0;
    font-size: 13px;
    color: #8e8e8e;
}

.skills p {
    margin: 0;
}

.skills table,
.lang table {
    font-size: 12px;
    font-weight: bold;
}

.skills table tr td:first-child,
.lang table tr td:first-child {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.hobbies ul {
    margin: 0 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.hobbies ul li {
    display: inline-block;
    text-align: center;
}

.hobbies ul li i {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hobbies ul li label {
    font-size: 12px;
    font-weight: bold;
}

.lang {
    background-color: #efefef;
    height: 162px;
}


/* Status Bar */

table.status-container tr td:nth-child(2) {
    width: 57%;
}

table.status-container tr td:nth-child(1) {
    width: 80px;
}

.status-bar {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.status {
    background-color: black;
    height: 8px;
    border-radius: 5px;
}